@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --main-color: #545BE8;
    --base-font:"Poppins", "sans-serif";
}
body {
    font-family: var(--base-font);
    height: 5000px;
    
}
.header {
  background-color: #ffffff;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 9999999;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.container {
  width: calc(100% - 130px );
  margin: auto;
  

}
a{
    text-decoration: none;
    color: black;
    
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
