@import "./base.css";

/*start navbar*/
.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo a {
    font-family: "Roboto", sans-serif;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.header .logo img {
    width: 35px;
}

.header .auth a {
    border: 1px solid var(--main-color);
    padding: 5px 50px;
    border-radius: 8px;
    margin-right: 5px;
    color: var(--main-color);
}

.auth a:last-child {
    background-color: var(--main-color);
    color: white;
}

.active {
    font-weight: 900;
}

@media (max-width: 1000px) {
    .nav {
        display: none;
    }
}

/*end navbar*/
/* start Testimonials */

.Testimonials {
    gap: 30px;
    font-family: var(--base-font);
    margin-bottom: 50px;
    
}

.Testimonials h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
   
}

.testimonial {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 12.23719596862793px 12.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
}

.Testimonials .user_data img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Testimonials .testimonial .user_data {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Testimonials h3 {
    font-size: 16px;
}

.Testimonials .user_data span {
    font-size: 12px;
    color: #969696;
}
.Testimonials .testimonial .rating img{
    width: 20px;
    height: 20px;
    gap: 5px;

}
.Testimonials .testimonial q{
    font-family: var(--base-font);
    color: #646464;
    font-size: 14px;
}
q::before {
    content: open-quote;
    padding-right: 10px;
}

q::after {
    content: close-quote;
    padding-left: 10px;
}
.testimonial ::before{
    content:'' ;
    border-top: 50px solid #972a2a transparent ;
    border-right:50px solid #F4F4F4 ;
    border-bottom: 50px solid #fff  ;
    border-left:50px solid #fff;
    position: absolute;
    top: 0;
    right: 0;

}

/* end Testimonials */


/*start footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 70px 50px;
    background-color: #393e46;
    font-family: var(--base-font);
    font-size: 14px;
}

.footer .container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px 10px;
}

.footer_left_side {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    width: calc((100% - 80px) / 2);
}

.footer a {
    color: #ffffff;
}

.footer_left_side .footer_logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.footer p {
    color: #f4f4f4;
}

.footer_left_side .footer_logo img {
    width: 30px;
}

.footer_item a {
    color: #f4f4f4;
    text-decoration: none;
}

.footer_right_side {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: calc((100% - 80px) / 2);
}

.footer_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.footer_loges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer_loges a img {
    border: 1px solid #ffffff;
    width: 25px;
    height: 25px;
    padding: 10px;
    box-sizing: content-box;
}